@import '~@payloadcms/ui/scss';

:root {
    --theme-bg: #eaeaf7;
    --theme-text: var(--color-base-900);
    --nav-btn-bg: var(--color-base-100);
    --nav-item-bg: var(--color-base-50);
    
    --color-base-50: #d4d5ef; 
    --color-base-100: #a8abdf;

    --color-base-200: #a6a6a7;
    --color-base-300: #8a8a8c;
    --color-base-400: #6f6f71;
    --color-base-500: #555557;
    --color-base-600: #3d3d3f;
    --color-base-700: #262628;
    --color-base-800: #111113;
    --color-base-900: #020203;

    --theme-elevation-150: var(--color-base-100); // create new button
    --theme-elevation-200: var(--color-base-100);
}

a {
    text-decoration: none;
    transition-property: all !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
    transition-duration: 250ms !important;
}

a:hover, a:focus-visible {
    text-decoration: none;
}

.nav__wrap button {
    padding: 16px 16px;
    border-radius: 10px;
    background-color: var(--nav-btn-bg);
    color: var(--theme-text);
    margin-bottom: 10px;
}

.nav__wrap button:hover {
    background-color: var(--theme-text);
    color: var(--theme-bg);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.nav-group__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .nav__link {
        padding: 10px 16px;
        border-radius: 10px;
        background-color: var(--nav-item-bg);
        color: var(--theme-elevation-800);
        text-decoration: none;
        border: 1px transparent solid;
    }

    .nav__link:hover {
        border: 1px solid var(--theme-text);
    }
}

.custom-logo {
    font-size: 3rem;
    line-height: 3.2rem;
    font-weight: 800;
    letter-spacing: 0.05em;
    background: linear-gradient(to right, #CBACF9 0%, #4f46e5 100%);
    background-clip: text;
    color: transparent;
}

.nav-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
}

.nav nav a {
    padding: 0;
}

.nav nav a:hover, .nav nav a:focus-visible {
    text-decoration: none;
}

.avatar {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--theme-text);
    overflow: visible;
}

html[data-theme='dark'] {
    --theme-text: #CBACF9;
    --nav-btn-bg: var(--color-base-700);
    --nav-item-bg: var(--color-base-800);
    --theme-elevation-100: var(--color-base-700); // border
}