@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "inter";
  src: url("/fonts/inter.ttf");
}

.nav-dot:hover span {
  opacity: 1;
}

html {
  @apply bg-bg scroll-smooth;
}

@layer utilities {
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .fadeInUp {
    animation: fadeInUp 1s ease-in-out; 
  }
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .fadeInDown {
    animation: fadeInDown 1s ease-in-out;  
  }

  @keyframes fadeIn {
    0% {
      opacity: 0; 
    }
    100% {
      opacity: 1;
    }
  }
  .fadeIn {
    animation: fadeIn 2s ease-in-out;  
  }
  
  @keyframes scaleInUp {
    0% {
      opacity: 0.1;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  .scaleInUp {
    animation: scaleInUp 1s ease-in-out;
  }
}